<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="service" name="service" schema="schema/service.exsd"/>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/service"
            class="org.kalypso.ogc.core.service.OGCServlet">
      </servlet>
   </extension>

</plugin>
