<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.openali.diagram.factory.AxisProvider">
      <provider
            class="de.openali.diagram.ext.base.axis.provider.DoubleAxisProvider"
            id="de.openali.diagram.ext.axis.provider.Double"/>
      <provider
            class="de.openali.diagram.ext.base.axis.provider.CalendarAxisProvider"
            id="de.openali.diagram.ext.axis.provider.Calendar"/>
      <provider
            class="de.openali.diagram.ext.base.axis.provider.LongAxisProvider"
            id="de.openali.diagram.ext.axis.provider.Long"/>
   </extension>
   <extension
         point="de.openali.diagram.factory.LayerProvider">
      <provider
            class="de.openali.diagram.ext.base.layer.provider.GridLayerProvider"
            id="de.openali.diagram.ext.layer.provider.Grid"/>
      <provider
            class="de.openali.diagram.ext.base.layer.provider.CSVBarLayerProvider"
            id="de.openali.diagram.ext.layer.provider.CSVBar"/>
      <provider
            class="de.openali.diagram.ext.base.layer.provider.CSVLineLayerProvider"
            id="de.openali.diagram.ext.layer.provider.CSVLine"/>
      <provider
            class="de.openali.diagram.ext.base.test.CircleLayer"
            id="de.openali.diagram.ext.layer.provider.Circle"/>
      <provider
            class="de.openali.diagram.ext.base.test.UVFLayerProvider"
            id="de.openali.diagram.ext.layer.provider.UVF"/>
   </extension>
   <extension
         point="de.openali.diagram.factory.StyledElementProvider">
      <provider
            class="de.openali.diagram.ext.base.style.provider.DefaultStyledLineProvider"
            id="de.openali.diagram.ext.style.provider.DefaultStyledLine"/>
      <provider
            class="de.openali.diagram.ext.base.style.provider.DefaultStyledPointProvider"
            id="de.openali.diagram.ext.style.provider.DefaultStyledPoint"/>
      <provider
            class="de.openali.diagram.ext.base.style.provider.DefaultStyledPolygonProvider"
            id="de.openali.diagram.ext.style.provider.DefaultStyledPolygon"/>
      <provider
            class="de.openali.diagram.ext.base.style.provider.DefaultStyledTextProvider"
            id="de.openali.diagram.ext.style.provider.DefaultStyledText"/>
   </extension>
   <extension
         point="de.openali.diagram.factory.AxisRendererProvider">
      <provider
            class="de.openali.diagram.ext.base.axisrenderer.provider.CalendarAxisRendererProvider"
            id="de.openali.diagram.ext.axisrenderer.provider.Calendar"/>
      <provider
            class="de.openali.diagram.ext.base.axisrenderer.provider.DoubleAxisRendererProvider"
            id="de.openali.diagram.ext.axisrenderer.provider.Double"/>
   </extension>
   <extension
         point="de.openali.diagram.factory.MapperProvider">
      <provider
            class="de.openali.diagram.ext.base.test.LengthMapper"
            id="de.openali.diagram.ext.mapper.provider.Length"/>
      <provider
            class="de.openali.diagram.ext.base.test.AngleMapper"
            id="de.openali.diagram.ext.mapper.provider.Angle"/>
   </extension>

</plugin>
