<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
<stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="clearConfig" value="true"/>
<booleanAttribute key="clearws" value="true"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/JavaApiContributions Plugin-Test"/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="includeFragments" value="true"/>
<booleanAttribute key="includeOptional" value="false"/>
<stringAttribute key="location" value="${workspace_loc}\..\junit-workbench-workspace"/>
<stringAttribute key="location1" value="${workspace_loc}\..\junit-workbench-workspace"/>
<stringAttribute key="location2" value="C:\Eclipse\junit-workbench-workspace"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaApiContributions"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=JavaApiContributions"/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaApiContributions"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.equinox.p2.director.app.product"/>
<stringAttribute key="selected_target_plugins" value="org.eclipse.ui.win32,com.ibm.icu,org.eclipse.core.filesystem,org.eclipse.core.commands,org.eclipse.equinox.app,org.eclipse.ui.workbench,org.eclipse.core.expressions,org.eclipse.text,org.eclipse.osgi,org.eclipse.core.jobs,org.eclipse.ui.ide,org.eclipse.core.runtime.compatibility.registry,org.eclipse.help,org.eclipse.ui,org.eclipse.core.runtime,org.eclipse.core.databinding,org.eclipse.equinox.common,org.eclipse.swt,org.eclipse.jface.databinding,org.eclipse.jface,org.eclipse.core.filesystem.win32.x86,org.eclipse.equinox.registry,org.eclipse.swt.win32.win32.x86,org.eclipse.core.contenttype,org.eclipse.jface.text,org.eclipse.equinox.preferences"/>
<stringAttribute key="selected_workspace_plugins" value="org.kalypso.contribs.java"/>
<booleanAttribute key="show_selected_only" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
