<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.chart.ui.test.view.ChartTestView"
            icon="icons/obj16/kalypso_odt.gif"
            id="org.kalypso.chart.ui.test.view.ChartTestView"
            name="ChartFile-Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">

      
      
      <menuContribution
            locationURI="toolbar:org.kalypso.chart.ui.test.view.ChartTestView">
               <command
                     commandId="org.kalypso.chart.ui.commands.pan"
                     id="panId"
                     label="Pan"
                     style="radio">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.zoomIn"
               id="zoomId"
               label="Zoom In"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.zoomOut"
               label="Zoom out"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.maximize"
               label="Maximize chart"
               style="push">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.export"
               label="Export"
               style="push">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.openOutline"
               label="Open Outline"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
