<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="actionSets"
         name="actionSets"
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Kalypso Simulation"
            description="Aktionen zum Verwalten und Bearbeiten von Simulations-Modellen."
            visible="false"
            id="org.kalypso.simulation.ui.actionSet">
         <menu
               label="%org.kalypso.simulation.ui.menu.model.label"
               path="additions"
               id="org.kalypso.simulation.ui.menu.model">
            <groupMarker
                  name="modelStart">
            </groupMarker>
            <separator
                  name="modelSep">
            </separator>
            <groupMarker
                  name="prognoseStart">
            </groupMarker>
         </menu>
         <action
               label="%org.kalypso.action.model.startPrognose.label"
               icon="icons/elcl16/startPrognose.gif"
               class="org.kalypso.simulation.ui.actions.StartCalcWizardDelegate"
               menubarPath="org.kalypso.simulation.ui.menu.model/prognoseStart"
               id="org.kalypso.action.model.startPrognose">
         </action>
         <action
               label="%org.kalypso.action.model.manageCalcCases.label"
               class="org.kalypso.simulation.ui.actions.ManagePrognosesAction"
               style="push"
               menubarPath="org.kalypso.simulation.ui.menu.model/prognoseStart"
               id="org.kalypso.action.model.manageCalcCases"/>
         <action
               label="%org.kalypso.action.model.runCalcCase.label"
               icon="icons/elcl16/startCalulation.gif"
               class="org.kalypso.simulation.ui.actions.StartCalculationActionDelegate"
               tooltip="%org.kalypso.action.model.runCalcCase.tooltip"
               menubarPath="org.kalypso.simulation.ui.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.runCalcCase">
         </action>
         <action
               label="%org.kalypso.action.model.commit.label"
               icon="icons/elcl16/commitModel.gif"
               class="org.kalypso.simulation.ui.actions.CommitModelDelegate"
               tooltip="%org.kalypso.action.model.commit.tooltip"
               menubarPath="org.kalypso.simulation.ui.menu.model/modelStart"
               id="org.kalypso.action.model.commitModel">
         </action>
         <action
               label="%org.kalypso.action.model.updateModel.label"
               icon="icons/elcl16/updateModel.gif"
               class="org.kalypso.simulation.ui.actions.UpdateModelDelegate"
               tooltip="%org.kalypso.action.model.updateModel.tooltip"
               menubarPath="org.kalypso.simulation.ui.menu.model/modelStart"
               id="org.kalypso.action.model.updateModel">
         </action>
         <action
               label="%org.kalypso.action.model.checkoutModel.label"
               icon="icons/elcl16/updateModel.gif"
               helpContextId="org.kalypso.manual.menu_modell"
               tooltip="%org.kalypso.action.model.checkoutModel.tooltip"
               class="org.kalypso.simulation.ui.actions.GetModelDelegate"
               menubarPath="org.kalypso.simulation.ui.menu.model/modelStart"
               id="org.kalypso.action.model.checkoutModel">
         </action>
         <action
               label="%org.kalypso.action.model.copyModel.label"
               icon="icons/elcl16/copyModel.gif"
               class="org.kalypso.simulation.ui.actions.CopyModelDelegate"
               tooltip="%org.kalypso.action.model.copyModel.tooltip"
               retarget="false"
               menubarPath="org.kalypso.simulation.ui.menu.model/modelStart"
               id="org.kalypso.action.model.copyModel">
         </action>
         <menu
               label="%org.kalypso.simulation.ui.menu.calcCase.label"
               path="org.kalypso.simulation.ui.menu.model"
               id="org.kalypso.simulation.ui.menu.calcCase">
            <groupMarker
                  name="calcCaseStart">
            </groupMarker>
         </menu>
         <action
               label="%org.kalypso.action.model.commitCalcCase.label"
               icon="icons/elcl16/commitCalcCase.gif"
               class="org.kalypso.simulation.ui.actions.CommitCalcCaseDelegate"
               tooltip="%org.kalypso.action.model.commitCalcCase.tooltip"
               menubarPath="org.kalypso.simulation.ui.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.commitCalcCase">
         </action>
         <action
               label="%org.kalypso.action.model.getCalcCase.label"
               icon="icons/elcl16/updateCalcCase.gif"
               class="org.kalypso.simulation.ui.actions.GetCalcCaseDelegate"
               tooltip="%org.kalypso.action.model.getCalcCase.tooltip"
               menubarPath="org.kalypso.simulation.ui.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.getCalcCase">
         </action>
         <action
               label="%org.kalypso.action.model.setBasicModel.label"
               icon="icons/elcl16/export-simple-template.gif"
               tooltip="%org.kalypso.action.model.setBasicModel.tooltip"
               class="org.kalypso.simulation.ui.actions.SetBasicModelDelegate"
               menubarPath="org.kalypso.simulation.ui.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.setBasicModel">
         </action>
         <action
               label="%org.kalypso.action.model.updateCalcCaseTimeseries.label"
               icon="icons/elcl16/refreshCalcCase.gif"
               tooltip="%org.kalypso.action.model.updateCalcCaseTimeseries.tooltip"
               class="org.kalypso.simulation.ui.actions.UpdateCalcCaseTimeseries"
               menubarPath="org.kalypso.simulation.ui.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.updateCalcCaseTimeseries">
         </action>
         <action
               label="%org.kalypso.action.model.copyCalcCase.label"
               icon="icons/elcl16/copyCalcCase.gif"
               class="org.kalypso.simulation.ui.actions.CopyCalcCaseDelegate"
               tooltip="%org.kalypso.action.model.copyCalcCase.tooltip"
               menubarPath="org.kalypso.simulation.ui.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.copyCalcCase">
         </action>
         <action
               label="%org.kalypso.action.model.newCalcCase.label"
               icon="icons/elcl16/createCalcCase.gif"
               tooltip="%org.kalypso.action.model.newCalcCase.tooltip"
               class="org.kalypso.simulation.ui.actions.NewCalcCaseAction"
               menubarPath="org.kalypso.simulation.ui.menu.calcCase/calcCaseStart"
               id="org.kalypso.action.model.newCalcCase">
         </action>
      </actionSet>
      <actionSet
            label="%org.kalypso.simulation.ui.debug.actionSet.label"
            description="%org.kalypso.simulation.ui.debug.actionSet.description"
            visible="false"
            id="org.kalypso.simulation.ui.debug.actionSet">
         <menu
               label="%org.kalypso.simulation.ui.menu.debug.label"
               path="additions"
               id="org.kalypso.simulation.ui.menu.debug">
            <groupMarker name="start"/>
         </menu>
         <action
               label="%org.kalypso.action.debug.testCalcCase.label"
               class="org.kalypso.simulation.ui.actions.TestCalculationDelegate"
               tooltip="%org.kalypso.action.debug.testCalcCase.tooltip"
               style="push"
               menubarPath="org.kalypso.simulation.ui.menu.debug/start"
               id="org.kalypso.action.debug.testCalcCase"/>
      </actionSet>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%org.kalypso.simulation.ui.startscreen.PrognosePerspective.name"
            icon="icons/eview16/startingPersp.gif"
            fixed="true"
            class="org.kalypso.simulation.ui.startscreen.PrognosePerspective"
            id="org.kalypso.simulation.ui.startscreen.PrognosePerspective">
      </perspective>
   </extension>

   <extension
         id="ModelNature"
         name="ModelNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.kalypso.simulation.ui.calccase.ModelNature">
         </run>
      </runtime>
      <options
            allowLinking="true">
      </options>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            eclipseRuntime="true"
            class="org.kalypso.simulation.ui.ant.RunCalculationTask"
            library="lib/anttasks.jar"
            headless="false"
            name="kalypso.runCalculation"/>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            name="simulation_project_loc"
            description="Substitution for project_loc, will be replaced by the simulation framework with the choosen projekt. Has the same behaviour as project_loc."
            resolver="org.eclipse.debug.internal.ui.stringsubstitution.ProjectResolver">
      </variable>
   </extension>
   <extension
         point="org.kalypso.metadoc.exporter">
      <exporter
            icon="icons/elcl16/export-gis-feature.gif"
            class="org.kalypso.simulation.ui.wizards.exporter.FeatureWithTemplateExporterTree"
            description="%featureWithTemplateExporter.description"
            name="%featureWithTemplateExporter.name"
            id="featureWithTemplateExporterTree"/>            
      <exporter
            icon="icons/elcl16/export-simple-template.gif"
            class="org.kalypso.simulation.ui.wizards.exporter.SimpleTemplateExporter"
            description="%simpleTemplateExporter.description"
            name="%simpleTemplateExporter.name"
            id="simpleTemplateExporter"/>
      <exporter
            icon="icons/elcl16/export-sumup-table.gif"
            class="org.kalypso.simulation.ui.wizards.exporter.SumUpTableExporter"
            description="%sumUpTableExporter.description"
            name="%sumUpTableExporter.name"
            id="sumUpTableExporter"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.kalypso.simulation.ui.modelContent"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.kalypso.simulation.ui.navigator.ModellContentProvider"
            id="org.kalypso.simulation.ui.modelContent"
            labelProvider="org.kalypso.simulation.ui.navigator.ModellLabelProvider"
            name="Kalypso Modell"
            priority="highest">
         <triggerPoints>
            <or>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.kalypso.simulation.ui.ModelNature"/>
               </adapt>
               <instanceof value="org.kalypsodeegree.model.feature.Feature"/>
               <instanceof value="org.kalypso.ui.editor.gmleditor.ui.FeatureAssociationTypeElement"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.kalypsodeegree.model.feature.Feature"/>
               <instanceof value="org.kalypso.ui.editor.gmleditor.ui.FeatureAssociationTypeElement"/>
            </or>
         </possibleChildren>
         </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.simulation.ui.logview.views.LogViewer"
            icon="icons/logview/problems_view.gif"
            id="org.kalypso.simulation.ui.logview.views.LogViewer"
            name="Log Ansicht"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/anttasks.jar">
      </extraClasspathEntry>
   </extension>
</plugin>
