<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.kalypso.simulation.core.simulation">
      <simulation
            catalogClass="org.kalypso.gml.processes.schemata.GmlProcessesUrlCatalog"
            simulationClass="org.kalypso.gml.processes.constDelaunay.ConstraintDelaunayCalcJob"
            typeID="KalypsoGmlProcesses.ConstraintDelaunayV1.0"/>
   </extension>
   <extension point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.gml.processes.schemata.GmlProcessesUrlCatalog"
            id="org.kalypso.gml.processes.schemata.GmlProcessesUrlCatalog"/>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="org.kalypso.gml.processes.internal.gml.GmlPropertyTester"
             id="org.kalypso.gml.ui.internal.gml.GmlPropertyTester"
             namespace="org.kalypso.gml"
             properties="qname,targetQName,rootQName,isListProperty,isListFeature,isListFeatureFirst,isListFeatureLast,catalogProperty"
             type="java.lang.Object">
       </propertyTester>
   </extension>
   
   <extension point="org.kalypso.deegree.featureBinding">
      <feature class="org.kalypso.gml.processes.tin.TriangulatedSurfaceFeature" qname="{org.kalypso.gml.common}TriangulatedSurfaceFeature"/>
      <feature class="org.kalypso.gml.processes.tin.MultiSurfaceCoverage" qname="{http://www.opengis.net/gml}MultiSurfaceCoverage"/>
   </extension>
   
</plugin>
