<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.simulation.core.simulation">
      <simulation
            catalogClass="org.kalypso.gml.processes.schemata.GmlProcessesUrlCatalog"
            simulationClass="org.kalypso.gml.processes.constDelaunay.ConstraintDelaunayCalcJob"
            typeID="KalypsoGmlProcesses.ConstraintDelaunayV1.0"/>
      <simulation
      	    catalogClass="org.kalypso.gml.processes.schemata.GmlProcessesUrlCatalog"
            simulationClass="org.kalypso.gml.processes.floodDepth.FloodDepthCalcJob"
            typeID="KalypsoGmlProcesses.FloodDepthV1.0"/>
   </extension>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.gml.processes.schemata.GmlProcessesUrlCatalog"
            id="org.kalypso.gml.processes.schemata.GmlProcessesUrlCatalog"/>
   </extension>

</plugin>
