<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.kalypso.chart.ui.editor.ChartEditor"
            default="true"
            extensions="kod"
            icon="icons/obj16/kalypso_odt.gif"
            id="org.kalypso.chart.ui.editor.ChartEditor"
            name="Chart Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.kalypso.ui.kalypso"
            class="org.kalypso.chart.ui.view.ChartView"
            id="org.kalypso.chart.ui.view.ChartView"
            name="Chart View">
      </view>
      <view
            allowMultiple="false"
            class="org.kalypso.chart.ui.SimpleChartOutline"
            id="org.kalypso.chart.ui.view.SimpleChartOutline"
            name="Simple Chart View ">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.kalypso.chart.ui.commands.category"
            name="ChartUI commands">
      </category>
      <command
            categoryId="org.kalypso.chart.ui.commands.category"
            id="org.kalypso.chart.ui.commands.pan"
            name="%org.kalypso.chart.ui.commands.pan.name">
      </command>
      <command
            categoryId="org.kalypso.chart.ui.commands.category"
            id="org.kalypso.chart.ui.commands.zoomIn"
            name="%org.kalypso.chart.ui.commands.zoomIn.name">
      </command>
      <command
            categoryId="org.kalypso.chart.ui.commands.category"
            id="org.kalypso.chart.ui.commands.zoomOut"
            name="%org.kalypso.chart.ui.commands.zoomOut.name">
      </command>
      <command
            categoryId="org.kalypso.chart.ui.commands.category"
            id="org.kalypso.chart.ui.commands.edit"
            name="%org.kalypso.chart.ui.commands.edit.name">
      </command>
      <command
            categoryId="org.kalypso.chart.ui.commands.category"
            id="org.kalypso.chart.ui.commands.maximize"
            name="%org.kalypso.chart.ui.commands.maximize.name">
      </command>
      <command
            categoryId="org.kalypso.chart.ui.commands.category"
            id="org.kalypso.chart.ui.commands.maximizeView"
            name="%org.kalypso.chart.ui.commands.maximizeView.name">
      </command>
      <command
            categoryId="org.kalypso.chart.ui.commands.category"
            id="org.kalypso.chart.ui.commands.export"
            name="%org.kalypso.chart.ui.commands.export.name">
      </command>
      <command
            categoryId="org.kalypso.chart.ui.commands.category"
            id="org.kalypso.chart.ui.commands.openOutline"
            name="%org.kalypso.chart.ui.commands.openOutline.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.kalypso.chart.ui.commands.pan"
            icon="icons/elcl16/chart_pan.gif">
      </image>
      <image
            commandId="org.kalypso.chart.ui.commands.zoomIn"
            icon="icons/elcl16/chart_zoom_in.gif">
      </image>
      <image
            commandId="org.kalypso.chart.ui.commands.zoomOut"
            icon="icons/elcl16/chart_zoom_out.gif">
      </image>
      <image
            commandId="org.kalypso.chart.ui.commands.edit"
            icon="icons/elcl16/chart_edit.gif">
      </image>
      <image
            commandId="org.kalypso.chart.ui.commands.maximize"
            icon="icons/elcl16/chart_maximize.gif">
      </image>
      <image
            commandId="org.kalypso.chart.ui.commands.export"
            icon="icons/elcl16/chart_export_img.gif">
      </image>
      <image
            commandId="org.kalypso.chart.ui.commands.openOutline"
            icon="icons/elcl16/show_outline.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.kalypso.chart.ui.editor.commandhandler.ZoomOutHandler"
            commandId="org.kalypso.chart.ui.commands.zoomOut">
      </handler>
      <handler
            class="org.kalypso.chart.ui.editor.commandhandler.PanHandler"
            commandId="org.kalypso.chart.ui.commands.pan">
      </handler>
      <handler
            class="org.kalypso.chart.ui.editor.commandhandler.ZoomInHandler"
            commandId="org.kalypso.chart.ui.commands.zoomIn">
      </handler>
      <handler
            class="org.kalypso.chart.ui.editor.commandhandler.EditHandler"
            commandId="org.kalypso.chart.ui.commands.edit">
      </handler>
      <handler
            class="org.kalypso.chart.ui.editor.commandhandler.MaximizeHandler"
            commandId="org.kalypso.chart.ui.commands.maximize">
      </handler>
      <handler
            class="org.kalypso.chart.ui.editor.commandhandler.MaximizeViewHandler"
            commandId="org.kalypso.chart.ui.commands.maximizeView">
      </handler>
      <handler
            class="org.kalypso.chart.ui.editor.commandhandler.ExportHandler"
            commandId="org.kalypso.chart.ui.commands.export">
      </handler>
      <handler
            class="org.kalypso.chart.ui.editor.commandhandler.OpenOutlineHandler"
            commandId="org.kalypso.chart.ui.commands.openOutline">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         
         <toolbar
               id="org.kalypso.chart.ui.editor.toolbar">
         
               <command
                     commandId="org.kalypso.chart.ui.commands.pan"
                     id="panId"
                     label="%org.kalypso.chart.ui.commands.pan.name"
                     style="radio">
                     <visibleWhen
               checkEnabled="true">
            <reference
                  definitionId="org.kalypso.chart.ui.chartEditorActive">
            </reference>
         </visibleWhen>
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.zoomIn"
               label="%org.kalypso.chart.ui.commands.zoomIn.name"
               style="radio">
               <visibleWhen
               checkEnabled="true">
            <reference
                  definitionId="org.kalypso.chart.ui.chartEditorActive">
            </reference>
         </visibleWhen>
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.zoomOut"
               label="%org.kalypso.chart.ui.commands.zoomOut.name"
               style="radio">
               <visibleWhen
               checkEnabled="true">
            <reference
                  definitionId="org.kalypso.chart.ui.chartEditorActive">
            </reference>
         </visibleWhen>
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.edit"
               label="%org.kalypso.chart.ui.commands.edit.name "
               style="radio"
               tooltip="Edit ">
               <visibleWhen
               checkEnabled="true">
            <reference
                  definitionId="org.kalypso.chart.ui.chartEditorActive">
            </reference>
         </visibleWhen>
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.maximize"
               label="%org.kalypso.chart.ui.commands.maximize.name"
               style="push">
               <visibleWhen
               checkEnabled="true">
            <reference
                  definitionId="org.kalypso.chart.ui.chartEditorActive">
            </reference>
         </visibleWhen>
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.export"
               label="%org.kalypso.chart.ui.commands.export.name"
               style="push">
               <visibleWhen
               checkEnabled="true">
            <reference
                  definitionId="org.kalypso.chart.ui.chartEditorActive">
            </reference>
         </visibleWhen>
         </command>
         <separator
               name="additions">
         </separator>
         <visibleWhen
               checkEnabled="true">
            <reference
                  definitionId="org.kalypso.chart.ui.chartEditorActive">
            </reference>
         </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.kalypso.chart.ui.view.ChartView">
         
       
         
               <command
                     commandId="org.kalypso.chart.ui.commands.pan"
                     id="panId"
                     label="%org.kalypso.chart.ui.commands.pan.name"
                     style="radio">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.zoomIn"
               id="zoomId"
               label="%org.kalypso.chart.ui.commands.zoomIn.name"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.zoomOut"
               label="%org.kalypso.chart.ui.commands.zoomOut.name"
               style="radio">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.maximize"
               label="%org.kalypso.chart.ui.commands.maximize.name"
               style="push">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.export"
               label="%org.kalypso.chart.ui.commands.export.name"
               style="push">
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.openOutline"
               label="%org.kalypso.chart.ui.commands.openOutline.name"
               style="push">
         </command>
      
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.kalypso.chart.ui.editor.menu"
               label="Chart">
            <visibleWhen
                  checkEnabled="true">
               <reference
                     definitionId="org.kalypso.chart.ui.chartEditorActive">
               </reference>
            </visibleWhen>
                           <command
                     commandId="org.kalypso.chart.ui.commands.pan"
                     label="%org.kalypso.chart.ui.commands.pan.name"
                     style="radio">
    
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.zoomIn"
               label="%org.kalypso.chart.ui.commands.zoomIn.name"
               style="radio">
      
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.zoomOut"
               label="%org.kalypso.chart.ui.commands.zoomOut.name"
               style="radio">

         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.edit"
               label="%org.kalypso.chart.ui.commands.edit.name"
               style="radio"
               tooltip="%org.kalypso.chart.ui.commands.edit.description">
       
         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.maximize"
               label="%org.kalypso.chart.ui.commands.maximize.name"
               style="push">

         </command>
         <command
               commandId="org.kalypso.chart.ui.commands.export"
               label="%org.kalypso.chart.ui.commands.export.name"
               style="push">

         </command>
         <separator
               name="additions">
         </separator>
         </menu>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.kalypso.chart.ui.chartEditorActive">
         <with
               variable="activeEditorId">
               <equals
                     value="org.kalypso.chart.ui.editor.ChartEditor">
               </equals>
         </with>
      </definition>
   </extension>

</plugin>
