<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="kalypsoModule" name="Kalypso Module" schema="schema/kalypsoModule.exsd"/>
   <extension
         point="org.eclipse.ui.views">
     <category
            id="org.kalypso.planer.client.manager.views"
            name="Planer Client Views">
      </category>
      <view
            allowMultiple="false"
            category="org.kalypso.planer.client.manager.views"
            class="org.kalypso.project.database.client.ui.view.ViewManageServerProjects"
            icon="icons/application/icon_16.gif"
            id="org.kalypso.project.database.client.ui.view.ViewManageServerProjects"
            name="Modelldatenbank Verwaltung">
      </view>
   </extension>

</plugin>
