<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.kalypso.ui.importwizards.kalypso"
            class="org.kalypso.gml.ui.wizard.grid.RectifiedGridCoverageImportWizard"
            icon="icons/obj16/gridImport.gif"
            id="org.kalypso.gml.ui.wizard.imports.RectifiedGridCoverageImportWizard"
            name="Rasterdaten">
         <selection
               class="org.eclipse.core.resources.IContainer">
         </selection>
         <description>%org.kalypso.gml.ui.wizard.grid.RectifiedGridCoverageImportWizard.description</description>
      </wizard>
   </extension>
   <extension
         point="org.kalypso.core.catalogContribution">
      <catalogContribution
            class="org.kalypso.gml.ui.catalog.GmlFeatureTypeStyleCatalogContribution"
            name="GML Style Catalog"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Importiert ein Raster als GML-Coverage"
            id="org.kalypso.gml.ui.importGridCommand"
            name="Raster importieren">
      </command>
      <command
            description="Export das selektierte Coverage in eine externe Rasterdatei"
            id="org.kalypso.gml.ui.exportGridCommand"
            name="Raster exportieren">
      </command>
      <command categoryId="org.kalypso.ogc.gml.map.category" description="%org.kalypso.ogc.gml.map.CoverageManagementCommand.description" id="org.kalypso.ogc.gml.map.CoverageManagementCommand" name="%org.kalypso.ogc.gml.map.CoverageManagementCommand.name" />
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.kalypso.gml.ui.importGridCommand"
            icon="icons/obj16/gridImport.gif">
      </image>
      <image
            commandId="org.kalypso.gml.ui.exportGridCommand"
            icon="icons/obj16/gridImport.gif">
      </image>
      <image commandId="org.kalypso.ogc.gml.map.CoverageManagementCommand" icon="icons/obj16/manageCoverages.gif" />
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.kalypso.gml.ui.handler.ImportGridHandler"
            commandId="org.kalypso.gml.ui.importGridCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="false"
                        property="org.kalypso.core.qname"
                        value="{org.kalypso.gml.common.coverage}CoverageCollection">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.kalypso.gml.ui.handler.ExportGridHandler"
            commandId="org.kalypso.gml.ui.exportGridCommand">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <test
                        forcePluginActivation="false"
                        property="org.kalypso.core.qname"
                        value="{http://www.opengis.net/gml}_Coverage">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
		<handler commandId="org.kalypso.ogc.gml.map.CoverageManagementCommand">
			<class class="org.kalypso.ogc.gml.map.widgets.SelectWidgetHandler">
				<parameter name="org.kalypso.ogc.gml.map.widgets.SelectWidgetCommand.widget" value="org.kalypso.gml.ui.map.CoverageManagementWidget" />
			</class>
			<enabledWhen>
				<and>
					<!--reference definitionId="mapContext" /-->
					<with variable="activeMapPanel">
						<test property="org.kalypso.ui.test.map.activeTheme.qname" value="{http://www.opengis.net/gml}_Coverage" />
					</with>
				</and>
			</enabledWhen>
		</handler>
   </extension>
   <extension
         point="org.kalypso.core.themeInfo">
      <themeInfo
            class="org.kalypso.gml.ui.map.CoverageThemeInfo"
            id="org.kalypso.gml.ui.map.CoverageThemeInfo">
      </themeInfo>
   </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu
         icon="icons/obj16/import.gif"
         id="org.kalypso.gml.ui.imports"
         label="%menuContribution.menu.imports.label"
         mnemonic="i">
				<command commandId="org.kalypso.gml.ui.importGridCommand">
					<visibleWhen checkEnabled="false">
						<with variable="selection">
							<iterate ifEmpty="false" operator="and">
								<test forcePluginActivation="false" property="org.kalypso.core.qname" value="{org.kalypso.gml.common.coverage}CoverageCollection">
								</test>
							</iterate>
						</with>
					</visibleWhen>
				</command>
    <separator
          name="genericGml"
          visible="true">
    </separator>
    <separator
          name="additions"
          visible="false">
    </separator>
			</menu>
			<menu
         icon="icons/obj16/export.gif"
         id="org.kalypso.gml.ui.exports"
         label="%menuContribution.menu.exports.label"
         mnemonic="e">
				<command commandId="org.kalypso.gml.ui.exportGridCommand">
					<visibleWhen checkEnabled="false">
						<with variable="selection">
							<iterate ifEmpty="false" operator="and">
								<test forcePluginActivation="false" property="org.kalypso.core.qname" value="{http://www.opengis.net/gml}_Coverage">
								</test>
							</iterate>
						</with>
					</visibleWhen>
				</command>
    <separator
          name="genericGml">
    </separator>
    <separator
          name="additions"
          visible="true">
    </separator>
			</menu>
		</menuContribution>
		<menuContribution locationURI="toolbar:org.kalypso.ui.menus.mapToolbar?before=widgetAdditions">
			<command commandId="org.kalypso.ogc.gml.map.CoverageManagementCommand" style="radio" tooltip="%org.kalypso.ogc.gml.map.CoverageManagementCommand.description">
				<visibleWhen checkEnabled="false">
					<and>
						<with variable="activeEditorId">
							<equals value="org.kalypso.ui.editor.mapeditor.GisMapEditor" />
						</with>
						<!--reference definitionId="mapContext" /-->
						<with variable="activeMapPanel">
							<test property="org.kalypso.ui.test.map.activeTheme.qname" value="{http://www.opengis.net/gml}_Coverage" />
						</with>
					</and>
				</visibleWhen>
			</command>		
		</menuContribution>
	</extension>

</plugin>
