<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="simulation" name="simulation" schema="schema/simulation.exsd"/>
   <extension-point id="simulationService" name="simulationService" schema="schema/simulationService.exsd"/>
   <extension
         point="org.kalypso.simulation.core.simulationService">
      <simulationService
            class="org.kalypso.simulation.core.internal.local.LocalSimulationService"
            id="org.kalypso.simulation.core.localService"/>
   </extension>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.simulation.core.internal.local.LocalURLCatalog"
            id="localSimulationCatalog"/>
   </extension>

</plugin>
