<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="simulation" name="simulation" schema="schema/simulation.exsd"/>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.simulation.core.internal.local.LocalURLCatalog"
            id="localSimulationCatalog"/>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <nextCatalog
               catalog="etc/schemas/catalog.xml">
         </nextCatalog>
      </catalogContribution>
   </extension>

</plugin>
