<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="owsoperation" name="owsoperation" schema="schema/OWSOperation.exsd"/>
   <extension
         point="de.openali.odysseus.service.ods.owsoperation">
      <owsoperation
            class="de.openali.odysseus.service.ods.operation.GetCapabilities"
            id="GetCapabilities"
            isPublic="true">
         <parameter
               isMandatory="true"
               name="myParameter"
               type="simple">
            <parameterValue
                  value="one">
            </parameterValue>
            <parameterValue
                  value="two">
            </parameterValue>
            <parameterValue
                  value="three">
            </parameterValue>
         </parameter>
      </owsoperation>
      <owsoperation
            class="de.openali.odysseus.service.ods.operation.GetChart"
            id="GetChart"
            isPublic="true">
         <parameter
               description="name of a chart found in the offerings section"
               isMandatory="true"
               name="NAME"
               type="simple">
         </parameter>
         <parameter
               description="image format type, default value is &quot;PNG&quot;"
               isMandatory="false"
               name="TYPE"
               type="simple">
            <parameterValue
                  value="PNG">
            </parameterValue>
            <parameterValue
                  value="JPG">
            </parameterValue>
         </parameter>
         <parameter
               description="width of image"
               isMandatory="false"
               name="WIDTH"
               type="simple">
         </parameter>
         <parameter
               description="height of image"
               isMandatory="false"
               name="HEIGHT"
               type="simple">
         </parameter>
         <parameter
               description="Ordered list of layers to be displayed. First mentioned layers are painted first."
               isMandatory="false"
               name="LAYERS"
               type="list">
         </parameter>
         <parameter
               description="List of axes needed to assign other axes parameter values  (like AXES_MIN, AXES_MAX)"
               isMandatory="false"
               name="AXES"
               type="list">
         </parameter>
         <parameter
               description="List of min values of axis visibilty intervals. The values are assigned to axes given in AXES parameter."
               isMandatory="false"
               name="AXES_MIN"
               type="list">
         </parameter>
         <parameter
               description="List of max values of axis visibilty intervals. The values are assigned to axes given in AXES parameter."
               isMandatory="false"
               name="AXES_MAX"
               type="list">
         </parameter>
      </owsoperation>
      <owsoperation
            class="de.openali.odysseus.service.ods.operation.GetSymbol"
            id="GetSymbol"
            isPublic="true">
      </owsoperation>
      <owsoperation
            class="de.openali.odysseus.service.ods.operation.GetAxesInfo"
            id="GetAxesInfo"
            isPublic="true">
      </owsoperation>
   </extension>
   <extension
         point="de.openali.odysseus.chart.factory.LayerProvider">
      <provider
            class="de.openali.odysseus.chart.ext.base.layer.provider.GridLayerProvider"
            id="de.openali.odysseus.chart.ext.base.layer.provider.GridLayerProvider">
      </provider>
   </extension>
   <extension
         point="de.openali.odysseus.chart.factory.AxisRendererProvider">
      <provider
            class="de.openali.odysseus.chart.ext.base.axisrenderer.provider.GenericNumberAxisRendererProvider"
            id="de.openali.odysseus.chart.ext.base.axisrenderer.provider.GenericNumberAxisRendererProvider">
      </provider>
   </extension>
   <extension
         point="de.openali.odysseus.chart.factory.AxisProvider">
      <provider
            class="de.openali.odysseus.chart.ext.base.axis.provider.GenericLinearAxisProvider"
            id="de.openali.odysseus.chart.ext.base.axis.provider.GenericLinearAxisProvider">
      </provider>
      <provider
            class="de.openali.odysseus.chart.ext.base.axisrenderer.provider.GenericNumberAxisRendererProvider"
            id="de.openali.odysseus.chart.ext.base.axisrenderer.provider.GenericNumberAxisRendererProvider">
      </provider>
   </extension>
   <extension
         point="org.kalypso.ogc.core.service">
      <service
            class="de.openali.odysseus.service.ods.service.ODSService"
            name="ODS"
            version="0.2.0">
         <operation
               class="de.openali.odysseus.service.ods.operation.GetCapabilities"
               name="GetCapabilities">
         </operation>
         <operation
               class="de.openali.odysseus.service.ods.operation.GetChart"
               name="GetChart">
         </operation>
         <operation
               class="de.openali.odysseus.service.ods.operation.GetSymbol"
               name="GetSymbol">
         </operation>
         <operation
               class="de.openali.odysseus.service.ods.operation.GetAxesInfo"
               name="GetAxesInfo">
         </operation>
      </service>
   </extension>

</plugin>
