<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="LayerProvider" name="LayerProvider" schema="schema/LayerProvider.exsd"/>
   <extension-point id="AxisProvider" name="AxisProvider" schema="schema/AxisProvider.exsd"/>
   <extension-point id="AxisRendererProvider" name="AxisRendererProvider" schema="schema/AxisRendererProvider.exsd"/>
   <extension-point id="MapperProvider" name="MapperProvider" schema="schema/MapperProvider.exsd"/>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <nextCatalog
               catalog="etc/binding/schema/catalog.xmlcatalog">
         </nextCatalog>
      </catalogContribution>
   </extension>
</plugin>
