<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
       point="de.openali.odysseus.chart.factory.LayerProvider">
    <provider
          class="org.kalypso.zml.ui.chart.layer.provider.ZmlLineLayerProvider"
          id="org.kalypso.zml.ui.chart.layer.provider.ZmlLineLayerProvider">
    </provider>
    <provider
          class="org.kalypso.zml.ui.chart.layer.provider.ZmlGridLayerProvider"
          id="org.kalypso.zml.ui.chart.layer.provider.ZmlGridLayerProvider">
    </provider>
    <provider
          class="org.kalypso.zml.ui.chart.layer.provider.ZmlSinglePointProvider"
          id="org.kalypso.zml.ui.chart.layer.provider.ZmlSinglePointProvider">
    </provider>
 </extension>

</plugin>
