<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="tableRule" name="tableRule" schema="schema/tableRule.exsd"/>
    <extension
       point="de.openali.odysseus.chart.factory.LayerProvider">
    <provider
          class="org.kalypso.zml.ui.chart.layer.provider.ZmlLineLayerProvider"
          id="org.kalypso.zml.ui.chart.layer.provider.ZmlLineLayerProvider">
    </provider>
    <provider
          class="org.kalypso.zml.ui.chart.layer.provider.ZmlGridLayerProvider"
          id="org.kalypso.zml.ui.chart.layer.provider.ZmlGridLayerProvider">
    </provider>
    <provider
          class="org.kalypso.zml.ui.chart.layer.provider.ZmlSinglePointProvider"
          id="org.kalypso.zml.ui.chart.layer.provider.ZmlSinglePointProvider">
    </provider>
 </extension>
	<extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <nextCatalog
               catalog="etc/schemas/catalog.xmlcatalog">
         </nextCatalog>
      </catalogContribution>
   </extension>
 <extension
       point="org.kalypso.zml.ui.tableRule">
    <rule
          id="org.kalypso.zml.ui.table.rules.impl.ZmlRuleCellStatus"
          rule="org.kalypso.zml.ui.table.rules.impl.ZmlRuleCellStatus">
    </rule>
 </extension>
</plugin>
