<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ODSOperation" name="ODSOperation" schema="schema/ODSOperation.exsd"/>
   <extension
         point="org.kalypso.services.ods.ODSOperation">
         <odsoperation
         	class="org.kalypso.services.ods.operation.GetCapabilites"
         	id="GetCapabilities"
         />
         <odsoperation
         	class="org.kalypso.services.ods.operation.GetLegend"
         	id="GetLegend"
         />
         <odsoperation
         	class="org.kalypso.services.ods.operation.GetChart"
         	id="GetDiagram"
         />
         <odsoperation
         	class="org.kalypso.services.ods.operation.GetHTMLTable"
         	id="GetHTMLTable"
         />
         <odsoperation
               class="org.kalypso.services.ods.operation.GetPlot"
               id="GetPlot"/>
         <odsoperation
               class="org.kalypso.services.ods.operation.GetAxesInfo"
               id="GetAxesInfo"/>
         <odsoperation
               class="org.kalypso.services.ods.operation.GetAxes"
               id="GetAxes"/> id="getLayers"/>
   </extension>
   <extension
         point="org.kalypso.service.ogc.ogcService">
      <service
            class="org.kalypso.services.ods.ODSServlet"
            serviceName="ODS">
         <parameter parameterName="Service"/>
         <parameter parameterName="Request"/>
         <parameter parameterName="Version"/>
      </service>
   </extension>
   
</plugin>
