<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="actionFilters" name="actionFilters" schema="schema/actionFilters.exsd"/>
   <extension-point id="cronJobs" name="cronJobs" schema="schema/cronJobs.exsd"/>
   <extension-point id="fallbackConfigLocation" name="fallbackConfigLocation" schema="schema/fallbackConfigLocation.exsd"/>

    
</plugin>
