<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.bce.eclipse.rcp.contrib"
   name="EclipseRCPContribution Plug-in"
   version="0.0.1"
   provider-name="bce.org">

   <runtime>
      <library name="EclipseRCPContribution.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.bce.java.contributions"/>
   </requires>

</plugin>
