<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.openali.odysseus.chart.factory.LayerProvider">
      <provider
            class="org.kalypso.chart.ext.observation.layer.provider.LineLayerProvider"
            id="org.kalypso.chart.ext.layer.provider.observation.LineLayerProvider"/>
      <provider
            class="org.kalypso.chart.ext.observation.layer.provider.DefaultTupleResultLayerProvider"
            id="org.kalypso.layerprovider.observation.LaengsschnittLayerProvider"/>
      <provider
            class="org.kalypso.chart.ext.observation.layer.provider.BranchLayerProvider"
            id="org.kalypso.layerprovider.observation.BranchLayerProvider">
      </provider>
   </extension>
   <extension
         point="de.openali.odysseus.chart.factory.MapperProvider">
      <provider
            class="org.kalypso.chart.ext.observation.mapper.provider.MarkerIconMapperProvider"
            id="org.kalypso.mapperprovider.observation.MarkerIconMapperProvider">
      </provider>
   </extension>

</plugin>
