<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="ogcService" name="ogcService" schema="schema/ogcService.exsd"/>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/ogc"
            class="org.kalypso.service.ogc.OGCServlet"/>
   </extension>

</plugin>
