<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="factories" name="RepositoryFactories" schema="schema/repfactories.exsd"/>
     
     <extension
         id="org.kalypso.repository.factories"
         name="Proxy Repsoitory Provider"
         point="org.kalypso.repository.factories">
        <repository
              name="Proxy Data Provider"
              factory="org.kalypso.repository.proxy.ProxyRepositoryFactory"/>
     </extension>
     
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="org.kalypso.ui.preferences.KalypsoPreferencePage"
              class="org.kalypso.repository.proxy.preferences.page.KalypsoRepositoryPreferencePage"
              id="org.kalypso.repository.proxy.preferences.page.KalypsoRepositoryPreferencePage"
              name="Zeitreihen-Datenbank Proxy">
        </page>
     </extension>

</plugin>
