<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.calculation.chain.ModelConnectorUrlCatalog"
            id="org.kalypso.calculation.chain.ModelConnectorUrlCatalog">
      </catalog>
   </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.calculation.chain.binding.CalculationChain"
            qname="{org.kalypso.calculation.chain}CalculationChain">
      </feature>
         <feature
            class="org.kalypso.calculation.chain.binding.CalculationChainMember"
            qname="{org.kalypso.calculation.chain}Calculation">
      </feature>
         <feature
            class="org.kalypso.calculation.chain.binding.CalculationChainMemberEntry"
            qname="{org.kalypso.calculation.chain}Entry">
      </feature>
   </extension>
</plugin>
