<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension-point id="tableCellRule" name="tableCellRule" schema="schema/tableCellRule.exsd"/>
   <extension-point id="metaDataBoundaryValue" name="metaDataBoundaryValue" schema="schema/metaDataBoundaryValue.exsd"/>
   <extension-point id="tableColumnRule" name="tableColumnRule" schema="schema/tableColumnRule.exsd"/>
   <extension-point id="requestStrategy" name="requestStrategy" schema="schema/requestStrategy.exsd"/>
 <extension
       point="org.kalypso.contribs.java.urlCatalog">
    <catalog
          class="org.kalypso.zml.core.KalypsoZmlCoreCatalog"
          id="org.kalypso.zml.core.KalypsoZmlCoreCatalog">
    </catalog>
 </extension>
   <extension
         point="org.kalypso.deegree.featureBinding">
      <feature
            class="org.kalypso.zml.core.filter.binding.InterpolationZmlFilter"
            qname="{org.kalypso.zml.core.filter}InterpolationZmlFilter">
      </feature>
      <feature
            class="org.kalypso.zml.core.filter.binding.IntervalZmlFilter"
            qname="{org.kalypso.zml.core.filter}IntervalZmlFilter">
      </feature>
      <feature
            class="org.kalypso.zml.core.filter.binding.RoundZmlFilter"
            qname="{org.kalypso.zml.core.filter}RoundZmlFilter">
      </feature>
   </extension>
  	<extension
       point="org.kalypso.zml.core.tableCellRule">
    <rule
          id="org.kalypso.zml.ui.core.rule.user.modified"
          rule="org.kalypso.zml.core.table.rules.impl.ZmlRuleUserModified">
    </rule>
    <rule
          id="org.kalypso.zml.ui.core.rule.value.interpolated"
          rule="org.kalypso.zml.core.table.rules.impl.ZmlRuleInterpolatedValue">
    </rule>
    <rule
          id="org.kalypso.zml.ui.core.rule.value.interval"
          rule="org.kalypso.zml.core.table.rules.impl.ZmlRuleIntervalValue">
    </rule>
    <rule
          id="org.kalypso.zml.ui.core.rule.warned.value"
          rule="org.kalypso.zml.core.table.rules.impl.ZmlRuleWarnedValue">
    </rule>
    <rule
          id="org.kalypso.zml.ui.core.rule.wq.conflict"
          rule="org.kalypso.zml.core.table.rules.impl.ZmlRuleWQRelationConflict">
    </rule>
    <rule
           id="org.kalypso.zml.ui.core.rule.grenzwerte"
           rule="org.kalypso.zml.core.table.rules.impl.grenzwert.ZmlRuleGrenzwerte">
    </rule>
    <rule
           id="org.kalypso.zml.ui.core.rule.derived.value"
           rule="org.kalypso.zml.core.table.rules.impl.ZmlDerivedValue">
    </rule>
    <rule
           id="org.kalypso.zml.ui.core.rule.forecast.value"
           rule="org.kalypso.zml.core.table.rules.impl.forecast.ZmlRuleForecast">
    </rule>
    <rule
          id="org.kalypso.zml.ui.core.rule.info"
          rule="org.kalypso.zml.core.table.rules.impl.ZmlRuleInfo">
    </rule>
    <rule
          id="org.kalypso.zml.ui.core.rule.data.source"
          rule="org.kalypso.zml.core.table.rules.impl.ZmlRuleDataSource">
    </rule>
 </extension>
 <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <nextCatalog
               catalog="etc/schemas/catalog.xml">
         </nextCatalog>
      </catalogContribution>
 </extension>
 <extension
       point="org.kalypso.zml.core.requestStrategy">
    <strategy
          id="request.strategy.prognose"
          strategy="org.kalypso.zml.core.base.request.PrognoseRequestStrategy">
    </strategy>
    <strategy
          id="request.strategy.observation.provider"
          strategy="org.kalypso.zml.core.base.request.ObsProviderRequestStrategy">
    </strategy>
 </extension>
</plugin>
