<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="scenarioData" name="Scenario data" schema="schema/scenarioData.exsd"/>
   <extension-point id="scenarioDataChangeListener" name="scenarioDataChangeListener" schema="schema/scenarioDataChangeListener.exsd"/>   	
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.kalypso.afgui.internal.workflow.WorkflowView"
            icon="icons/nuvola_select/loop.png"
            id="org.kalypso.kalypso1d2d.pjt.views.WorklistView"
            name="%org.kalypso.kalypso1d2d.pjt.views.WorklistView.name">
      </view>
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/scenario_view.gif"
            id="org.kalypso.kalypso1d2d.pjt.views.ScenarioView"
            name="%org.kalypso.kalypso1d2d.pjt.views.ScenarioView.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
         <viewer viewerId="org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
               <options>
                  <property name="org.eclipse.ui.navigator.hideLinkWithEditorAction" value="true"/>
                  <property name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog" value="true"/>
               </options>
         </viewer>
         <viewerActionBinding
               viewerId="KalypsoAFGUIFramework.viewerActionBinding1">
         </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <includes>
            <contentExtension
                  pattern="org.kalypso.afgui.content.*">
            </contentExtension>
            <contentExtension
                  pattern="org.kalypso.afgui.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.kalypso.afgui.views.ScenarioContentProvider"
            id="org.kalypso.afgui.content.scenarios"
            labelProvider="org.eclipse.ui.model.WorkbenchLabelProvider"
            name="%org.kalypso.afgui.content.scenarios.name"
            priority="highest"
            providesSaveables="false">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
               <instanceof
                     value="org.kalypso.afgui.scenarios.Scenario">
               </instanceof>
               <instanceof
                     value="de.renew.workflow.connector.cases.IScenario">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            id="org.kalypso.afgui.filters.noresources"
            name="%org.kalypso.afgui.filters.noresources.name">
         <filterExpression>
            <not>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <instanceof
                        value="org.kalypso.afgui.scenarios.Scenario">
                  </instanceof>
                  <instanceof
                        value="de.renew.workflow.connector.cases.IScenario">
                  </instanceof>
               </or>
            </not>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="%org.kalypso.afgui.filters.scenarioprojects.description"
            id="org.kalypso.afgui.filters.scenarioprojects"
            name="%org.kalypso.afgui.filters.scenarioprojects.name">
         <filterExpression>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <not>
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.kalypso.afgui.ScenarioHandlingProjectNature">
                  </test>
               </not>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler class="org.kalypso.afgui.internal.handlers.ActivateScenarioHandler" commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario">
        <enabledWhen>
           <reference definitionId="oneScenario"/>
        </enabledWhen>
      </handler>
      <handler class="org.kalypso.afgui.internal.scenario.AddScenarioHandler" commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario">
         <activeWhen>
            <reference definitionId="oneScenario"/>
         </activeWhen>
      </handler>
      <handler class="org.kalypso.afgui.internal.handlers.NewProjectHandler" commandId="org.kalypso.afgui.command.newproject"/>
      <handler class="org.kalypso.afgui.internal.handlers.DeleteScenarioHandler" commandId="org.eclipse.ui.edit.delete" >
         <activeWhen >
            <reference definitionId="canDeleteSelectedElement"/>
         </activeWhen>
      </handler>
      <handler class="org.kalypso.afgui.internal.handlers.CopyScenarioHandler" commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference definitionId="oneScenario"/>
         </activeWhen>
      </handler>
      <handler class="org.kalypso.afgui.internal.handlers.RenameScenarioHandler" commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference definitionId="oneScenario"/>
         </activeWhen>
      </handler>
      <handler class="org.kalypso.afgui.internal.handlers.SetAsBaseScenarioHandler" commandId="org.kalypso.afgui.commands.SetAsBaseScenarioCommand">
         <activeWhen>
            <reference definitionId="oneScenario"/>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command categoryId="de.renew.workflow.tasks.category"
            description="%org.kalypso.afgui.command.newproject.description"
            id="org.kalypso.afgui.command.newproject"
            name="%org.kalypso.afgui.command.newproject.name">
      </command>
      <command categoryId="de.renew.workflow.tasks.category"
            description="%http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario.description"
            id="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario"
            name="%http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario.name">
      </command>
      <command categoryId="de.renew.workflow.tasks.category"
            description="%http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario.description"
            id="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario"
            name="%http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario.name">
      </command>
      
      <command
            categoryId="de.renew.workflow.tasks.category"
            id="org.kalypso.afgui.commands.SetAsBaseScenarioCommand"
            name="%org.kalypso.afgui.commands.SetAsBaseScenarioCommand.name">
      </command>
   </extension>
   <extension point="org.eclipse.ui.commandImages">
      <image commandId="org.kalypso.afgui.command.newproject" icon="icons/project_add.gif"/>
      <image commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario" icon="icons/scenario_activate.gif"/>
      <image commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario" icon="icons/scenario_add.gif"/>
      <image commandId="org.kalypso.afgui.commands.SetAsBaseScenarioCommand" icon="icons/export-simple-template.gif"/>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <command commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario" />
         <command commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario"/>
         <command commandId="org.eclipse.ui.edit.copy">
            <visibleWhen checkEnabled="true"/>
         </command>
         <command commandId="org.eclipse.ui.edit.rename">
            <visibleWhen checkEnabled="true"/>
         </command>
         <command commandId="org.eclipse.ui.edit.delete"/>
         
         <command commandId="org.kalypso.afgui.commands.SetAsBaseScenarioCommand">
            <visibleWhen checkEnabled="true"/>
         </command>
         
         <!-- this one does not work, maybe popup menues automatically get additions? -->
         <!--
         <separator name="additions" visible="false"/>
         -->
         <separator name="scenario" visible="false"/>
      </menuContribution>
      
      <menuContribution locationURI="toolbar:org.kalypso.kalypso1d2d.pjt.views.ScenarioView">
         <separator name="group.new" visible="true"/>
         <command commandId="org.kalypso.afgui.command.newproject"/>
         <command commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario"/>
         <separator name="group.open" visible="true"/>
         <command commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario"/>
         <separator name="group.edit" visible="true" />
         <command commandId="org.eclipse.ui.edit.delete"/>
         <separator name="additions" visible="true"/>
         <separator name="scenario" visible="true"/>
      </menuContribution>
      
      <menuContribution locationURI="toolbar:org.kalypso.ui.views.mapView.outline?after=theme">
          <command commandId="org.kalypso.ui.map.outline.command.AddTheme" style="push">
            <parameter name="wizardSelectioinId" value="org.kalypso.afgui.addlayer.wizardselection.workflow"/>
          </command>
      </menuContribution>
      
      <menuContribution locationURI="toolbar:org.kalypso.kalypso1d2d.pjt.views.WorklistView">
        <command commandId="org.eclipse.ui.help.quickStartAction" label="" icon="icons/welcomePage.gif" tooltip="Willkommen"/>
        <command commandId="org.kalypso.afgui.command.newproject"/>
        <command commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario" tooltip="Derive Scenario"/>
        <separator name="additions" visible="false"/>
      </menuContribution>

      <menuContribution locationURI="popup:org.kalypso.afgui.breadcrumbs">
        <command commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__ActivateScenario">
          <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="http___www.tu-harburg.de_wb_kalypso_kb_workflow_test__AddScenario" tooltip="Derive Scenario">
          <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.eclipse.ui.edit.delete">
          <visibleWhen checkEnabled="true"/>
        </command>
        
        <separator name="additions" visible="false"/>
        
        <command commandId="org.kalypso.afgui.commands.SetAsBaseScenarioCommand">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.eclipse.ui.edit.copy">
           <visibleWhen checkEnabled="true"/>
        </command>
        <command commandId="org.eclipse.ui.edit.rename">
           <visibleWhen checkEnabled="true"/>
        </command>
      </menuContribution>
   </extension>
   <extension
         point="de.renew.workflow.model.contextHandlerFactories">
      <contextHandlerFactory
            class="org.kalypso.afgui.internal.handlers.KalypsoContextHandlerFactory"
            id="kalypsoContextHandlerFactory">
      </contextHandlerFactory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition id="oneScenario">
         <and>
            <count value="1">
            </count>
            <iterate>
               <instanceof value="de.renew.workflow.connector.cases.IScenario"/>
            </iterate>
         </and>
      </definition>
      <definition id="canDeleteSelectedElement">
            <and>
                <with variable="activePartId">
                    <or>
                        <equals value="org.kalypso.kalypso1d2d.pjt.views.WorklistView"/>
                        <equals value="org.kalypso.kalypso1d2d.pjt.views.ScenarioView"/>
                    </or>
                </with>
                <with variable="selection">
                   <count value="1"/>
                   <iterate ifEmpty="false" operator="and">
                       <or>
                          <instanceof value="de.renew.workflow.connector.cases.IScenario"/>
                          <instanceof value="org.eclipse.core.resources.IProject"/>
                       </or>
                   </iterate>
                </with>
            </and>
      </definition>
   </extension>
   
    <!-- perspectives-->
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.kalypso.afgui.perspective.Perspective"
            icon="icons/kalypsoWorkflow.png"
            id="org.kalypso.kalypso1d2d.pjt.perspective.Perspective"
            name="%org.kalypso.kalypso1d2d.pjt.perspective.Perspective.name">
      </perspective>      
   </extension>
 <extension
       point="org.eclipse.ui.decorators">
    <decorator
          icon="icons/scenario_small.png"
          id="org.kalypso.scenarios.scenarioNatureDecorator"
          label="%org.kalypso.scenarios.scenarioNatureDecorator.label"
          lightweight="true"
          location="TOP_RIGHT"
          state="true">
       <enablement>
          <and>
             <objectClass
                   name="org.eclipse.core.resources.IProject">
             </objectClass>
             <objectState
                   name="projectNature"
                   value="org.kalypso.afgui.ScenarioHandlingProjectNature">
             </objectState>
          </and>
       </enablement>
    </decorator>
 </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="de.renew.workflow.connector.cases.ScenarioHandlingProjectNature"
          class="org.kalypso.afgui.internal.ui.CaseAdapterFactory">
       <adapter
             type="org.eclipse.ui.model.IWorkbenchAdapter">
       </adapter>
       <adapter
             type="org.eclipse.ui.model.IWorkbenchAdapter2">
       </adapter>
    </factory>
    <factory
          adaptableType="de.renew.workflow.connector.cases.IScenario"
          class="org.kalypso.afgui.internal.ui.CaseAdapterFactory">
       <adapter
             type="org.eclipse.ui.model.IWorkbenchAdapter">
       </adapter>
       <adapter
             type="org.eclipse.ui.model.IWorkbenchAdapter2">
       </adapter>
    </factory>
 </extension>

   <extension
         id="org.kalypso.afgui.ScenarioHandlingProjectNature"
         name="ScenarioHandlingProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="de.renew.workflow.connector.cases.ScenarioHandlingProjectNature"/>
      </runtime>
   </extension>
   <extension point="org.kalypso.ui.addLayerWizard">
      <wizardSelection description="Add layer wizard selection for the workflow map." id="org.kalypso.afgui.addlayer.wizardselection.workflow">
         <wizardRef wizardId="org.kalypso.ui.wizard.wms"/>
         <wizardRef wizardId="org.kalypso.ui.wizard.wfs"/>
         <wizardRef wizardId="org.kalypso.ui.wizard.others.LegendThemeWizard"/>
         <wizardRef wizardId="org.kalypso.ui.wizard.others.CascadingThemeWizard"/>
         <wizardRef wizardId="org.kalypso.ui.wizard.others.ScaleThemeWizard"/>
         <wizardRef wizardId="org.kalypso.ui.wizard.others.ImageThemeWizard"/>
         <wizardRef wizardId="org.kalypso.ui.wizard.others.TextThemeWizard"/>
         <!-- FIXME: bad dependency -->
         <wizardRef wizardId="shapeImportWorkflow"/>
         <wizardRef wizardId="imageImportWorkflow"/>
      </wizardSelection>
   </extension>
</plugin>
