<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.openali.odysseus.chart.factory.LayerProvider">
      <provider
            class="de.openali.odysseus.chart.ext.base.layer.provider.GridLayerProvider"
            id="de.openali.odysseus.chart.ext.layer.provider.Grid"/>
      <provider
            class="de.openali.odysseus.chart.ext.base.layer.provider.DefaultTextLayerProvider"
            id="de.openali.odysseus.chart.ext.base.layer.provider.DefaultTextLayerProvider">
      </provider>
   </extension>
      <extension
         point="de.openali.odysseus.chart.factory.AxisProvider">
      <provider
            class="de.openali.odysseus.chart.ext.base.axis.provider.GenericDateAxisProvider"
            id="de.openali.odysseus.chart.ext.base.axis.provider.GenericDateAxisProvider">
      </provider>
      <provider
            class="de.openali.odysseus.chart.ext.base.axis.provider.GenericCalendarAxisProvider"
            id="de.openali.odysseus.chart.ext.base.axis.provider.GenericCalendarAxisProvider">
      </provider>
      
       <provider
            class="de.openali.odysseus.chart.ext.base.axis.provider.BooleanAxisProvider"
            id="de.openali.odysseus.chart.ext.axis.provider.Boolean">
      </provider>
       <provider
             class="de.openali.odysseus.chart.ext.base.axis.provider.GenericLinearAxisProvider"
             id="de.openali.odysseus.chart.ext.axis.provider.GenericLinear">
       </provider>
   </extension>
      <extension
         point="de.openali.odysseus.chart.factory.AxisRendererProvider">
      <provider
            class="de.openali.odysseus.chart.ext.base.axisrenderer.provider.GenericCalendarAxisRendererProvider"
            id="de.openali.odysseus.chart.ext.base.axisrenderer.provider.GenericCalendarAxisRendererProvider">
      </provider>
      <provider
            class="de.openali.odysseus.chart.ext.base.axisrenderer.provider.DateTimeAxisRendererProvider"
            id="de.openali.odysseus.chart.ext.base.axisrenderer.provider.DateTimeAxisRendererProvider">
      </provider>
      <provider
            class="de.openali.odysseus.chart.ext.base.axisrenderer.provider.OdfDateAxisRendererProvider"
            id="de.openali.odysseus.chart.ext.base.axisrenderer.provider.OdfDateAxisRendererProvider">
      </provider>
      <provider
            class="de.openali.odysseus.chart.ext.base.axisrenderer.provider.GenericNumberAxisRendererProvider"
            id="de.openali.odysseus.chart.ext.base.axisrenderer.provider.GenericNumberAxisRendererProvider">
      </provider>
      <provider
            class="de.openali.odysseus.chart.ext.base.axisrenderer.provider.BooleanAxisRendererProvider"
            id="de.openali.odysseus.chart.ext.base.axisrenderer.provider.BooleanAxisRendererProvider">
      </provider>
   </extension>
</plugin>
