<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ChartLegendRenderer" name="ChartLegendRenderer" schema="schema/ChartLegendRenderer.exsd"/>
   <extension-point id="ChartLayerFilter" name="ChartLayerFilter" schema="schema/ChartLayerFilter.exsd"/>
   <extension
         point="de.openali.odysseus.chart.framework.ChartLegendRenderer">
      <renderer
            id="de.openali.odysseus.chart.legend.render.compact"
            renderer="de.openali.odysseus.chart.framework.util.img.legend.renderer.CompactChartLegendRenderer">
      </renderer>
      <renderer
            id="de.openali.odysseus.chart.legend.render.block"
            renderer="de.openali.odysseus.chart.framework.util.img.legend.renderer.BlockChartLegendRenderer">
      </renderer>
      <renderer
            id="de.openali.odysseus.chart.legend.render.combined"
            renderer="de.openali.odysseus.chart.framework.util.img.legend.renderer.CombinedChartLegendRenderer">
      </renderer>
   </extension>

</plugin>
