<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.kalypso.contribs.java.urlCatalog">
      <catalog
            class="org.kalypso.contribs.ogc31.UrlCatalogOGC"
            id="org.kalypso.contribs.ogc31.UrlCatalogOGC"/>
   </extension>

</plugin>
