<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.openali.odysseus.service.ods.test.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.openali.odysseus.service.ods.test.application.OdysseusServiceODSApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.openali.odysseus.service.ods.test.application"
            name="OdysseusServiceODSProduct">
         <property
               name="appName"
               value="OdysseusServiceODSProduct">
         </property>
      </product>
   </extension>
   <extension
         point="de.openali.odysseus.chart.factory.LayerProvider">
      <provider
            class="org.kalypso.lippehydraulik.chart.layer.provider.UVFLayerProviderServer"
            id="org.kalypso.chart.lippehydraulik.layer.provider.UVFServer">
      </provider>
      <provider
            class="org.kalypso.zml.ui.chart.layer.provider.ZmlGridLayerProvider"
            id="org.kalypso.zml.ui.chart.layer.provider.ZmlGridLayerProvider">
      </provider>
   </extension>

</plugin>
