<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension-point id="kalypsoModule" name="Kalypso Module" schema="schema/kalypsoModule.exsd"/>
     <extension-point id="conversion" name="conversion" schema="schema/conversion.exsd"/>
     <extension-point id="projecthandle" name="projecthandle" schema="schema/projecthandle.exsd"/>

	 <extension
	       id="org.kalypso.module.ModuleNature"
	       name="ModuleNature"
	       point="org.eclipse.core.resources.natures">
	    <runtime>
	       <run class="org.kalypso.module.nature.ModuleNature"/>
	    </runtime>
	 </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.kalypso.module.project.local.ILocalProjectHandle"
           class="org.kalypso.module.internal.projecthandle.ModuleHandlerAdapterFactory">
        <adapter
              type="org.kalypso.module.IKalypsoModule">
        </adapter>
        <adapter
              type="org.kalypso.module.project.local.IProjectOpenAction">
        </adapter>
     </factory>
  </extension>
</plugin>
