<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="WMSImageProvider" name="WMSImageProvider" schema="schema/WMSImageProvider.exsd"/>

   <extension point="org.kalypso.ui.addLayerWizard">
      <wizard
            class="org.kalypso.ui.wizard.shape.ImportShapeSourceWizard"
            icon="icon/file_shp.GIF"
            id="org.kalypso.ui.wizard.shape"
            name="%org.kalypso.ui.wizard.shape.name">
         <description>%org.kalypso.ui.wizard.shape.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.wms.ImportWmsSourceWizard"
            icon="icon/Datastore_WMS.gif"
            id="org.kalypso.ui.wizard.wms"
            name="%org.kalypso.ui.wizard.wms.name">
         <description>%org.kalypso.ui.wizard.wms.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.wfs.ImportWfsSourceWizard"
            icon="icon/Datastore_WFS.gif"
            id="org.kalypso.ui.wizard.wfs"
            name="%org.kalypso.ui.wizard.wfs.name">
         <description>%org.kalypso.ui.wizard.wfs.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.gml.KalypsoGmlImportWizard"
            icon="icon/fileGml.gif"
            id="gml"
            name="%gml.name">
         <description>%org.kalypso.ui.wizard.gml.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.raster.ImportRasterSourceWizard"
            icon="icon/raster.GIF"
            id="org.kalypso.ui.wizard.raster"
            name="%org.kalypso.ui.wizard.raster.name">
         <description>%org.kalypso.ui.wizard.raster.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.image.ImportImageSourceWizard"
            icon="icon/file_image.gif"
            id="org.kalypso.ui.wizard.image"
            name="%org.kalypso.ui.wizard.image.name">
         <description>%org.kalypso.ui.wizard.image.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.others.LegendThemeWizard"
            icon="icon/legendTheme.gif"
            id="org.kalypso.ui.wizard.others.LegendThemeWizard"
            name="%org.kalypso.ui.wizard.legend.theme.name">
         <description>%org.kalypso.ui.wizard.legend.theme.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.others.CascadingThemeWizard"
            icon="icon/cascadingTheme.gif"
            id="org.kalypso.ui.wizard.others.CascadingThemeWizard"
            name="%org.kalypso.ui.wizard.dir.theme.name">
         <description>%org.kalypso.ui.wizard.dir.theme.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.others.ScaleThemeWizard"
            icon="icon/scaleTheme.gif"
            id="org.kalypso.ui.wizard.others.ScaleThemeWizard"
            name="%org.kalypso.ui.wizard.scale.theme.name">
         <description>%org.kalypso.ui.wizard.scale.theme.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.others.ImageThemeWizard"
            icon="icon/imageTheme.gif"
            id="org.kalypso.ui.wizard.others.ImageThemeWizard"
            name="%org.kalypso.ui.wizard.image.theme.name">
         <description>%org.kalypso.ui.wizard.image.theme.description</description>
      </wizard>
      <wizard
            class="org.kalypso.ui.wizard.others.TextThemeWizard"
            icon="icon/textTheme.gif"
            id="org.kalypso.ui.wizard.others.TextThemeWizard"
            name="%org.kalypso.ui.wizard.text.theme.name">
         <description>%org.kalypso.ui.wizard.text.theme.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.kalypso.ui.newwizards.kalypso"
            class="org.kalypso.ui.createGisMapView.CreateGisMapViewWizard"
            icon="icon/kalypso_gmt.gif"
            id="org.kalypso.ui.createGisMapView.CreateGisMapViewWizard"
            name="%org.kalypso.ui.createGisMapView.CreateGisMapViewWizard.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.kalypso.ui.gazetterview"
            name="GazetterView"/>
      <view
            category="org.kalypso.ui.gazetterview"
            class="org.kalypso.ui.gazetter.view.GazetterView"
            icon="icon/gazetterview.gif"
            id="org.kalypso.ui.gazetter.view.GazetterView"
            name="GazetterView"/>
   </extension>

	<!-- Commands for the map outline -->
	<extension point="org.eclipse.ui.commands">
		<command categoryId="org.kalypso.ui.map.outline.category" id="org.kalypso.ui.map.outline.command.AddTheme" name="Add Layer"  description="Add new Layer to Map">
		  <commandParameter id="wizardSelectioinId" name="ID of wizardSelection" optional="true"></commandParameter>
		</command>

        <command categoryId="org.kalypso.ui.map.outline.category" id="org.kalypso.ui.map.outline.command.OpenShapeWizardCommand"
            name="%org.kalypso.ui.map.outline.command.OpenShapeWizardCommand.name" description="%org.kalypso.ui.map.outline.command.OpenShapeWizardCommand.description"/>
        <command categoryId="org.kalypso.ui.map.outline.category" id="org.kalypso.ui.map.outline.command.OpenWmsWizardCommand"
            name="%org.kalypso.ui.map.outline.command.OpenWmsWizardCommand.name" description="%org.kalypso.ui.map.outline.command.OpenWmsWizardCommand.description">
      </command>
	</extension>

	<extension point="org.eclipse.ui.commandImages">
		<image commandId="org.kalypso.ui.map.outline.command.AddTheme" icon="icon/add_row.gif" />
		<image commandId="org.kalypso.ui.map.outline.command.OpenShapeWizardCommand" icon="icon/open_shape_wizard_command.gif" />
		<image commandId="org.kalypso.ui.map.outline.command.OpenWmsWizardCommand" icon="icon/open_wms_wizard_command.gif" />
	</extension>

	<extension point="org.eclipse.ui.handlers">
		<handler commandId="org.kalypso.ui.map.outline.command.AddTheme" class="org.kalypso.ui.view.action.AddThemeHandler"/>

        <handler commandId="org.kalypso.ui.map.outline.command.OpenShapeWizardCommand" class="org.kalypso.ui.action.OpenShapeWizardHandler"/>
        <handler commandId="org.kalypso.ui.map.outline.command.OpenWmsWizardCommand" class="org.kalypso.ui.action.OpenWmsWizardHandler"/>
	</extension>

	<extension point="org.eclipse.ui.menus">
   		<menuContribution locationURI="toolbar:org.kalypso.map.outline.GisMapEditor?after=theme">
			<command commandId="org.kalypso.ui.map.outline.command.AddTheme" style="push"/>
		</menuContribution>
	</extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.kalypso.ui.perspectives.ModelerPerspectiveFactory">
       <newWizardShortcut
             id="org.kalypso.ui.createGisMapView.CreateGisMapViewWizard">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>

</plugin>
